<div id="events_grid">
  <div id="event0" class="row" (click)="eventTouched($event)"></div>
  <div id="time0"></div>
  <p id="time0Day" class="dayTop">6</p>
  <p id="time0Month" class="monthBottom">JAN</p>
  <div id="title0">
    <div class="title"><p>Download Lesson</p></div>
  </div>
  <div id="description0" class="description">
    <div class="clock-icon">
      <img src="../../assets/icons/clock-white.svg">
    </div>
    <div class="clockTime">
      <p>05:00 am - 07:45 am</p>
    </div>
  </div>

  <div id="event1" class="row" (click)="eventTouched($event)"></div>
  <div id="time1"></div>
  <p id="time1Day" class="dayTop">13</p>
  <p id="time1Month" class="monthBottom">FEB</p>
  <div id="title1">
    <div class="title"><p>Grading</p></div>
  </div>
  <div id="description1" class="description">
    <div class="clock-icon">
      <img src="../../assets/icons/clock-white.svg">
    </div>
    <div class="clockTime">
      <p>05:30 pm - 08:30 pm</p>
    </div>
  </div>

  <div id="event2" class="row" (click)="eventTouched($event)"></div>
  <div id="time2"></div>
  <p id="time2Day" class="dayTop">3</p>
  <p id="time2Month" class="monthBottom">MAR</p>
  <div id="title2">
    <div class="title"><p>Homework Turn in</p></div>
  </div>
  <div id="description2" class="description">
    <div class="clock-icon">
      <img src="../../assets/icons/clock-white.svg">
    </div>
    <div class="clockTime">
      <p>06:30 am - 07:30 am</p>
    </div>
  </div>

  <div id="event3" class="row" (click)="eventTouched($event)"></div>
  <div id="time3"></div>
  <p id="time3Day" class="dayTop">12</p>
  <p id="time3Month" class="monthBottom">APR</p>
  <div id="title3">
    <div class="title"><p>Lesson Due</p></div>
  </div>
  <div id="description3" class="description">
    <div class="clock-icon">
      <img src="../../assets/icons/clock-white.svg">
    </div>
    <div class="clockTime">
      <p>08:00 am - 09:00 am</p>
    </div>
  </div>

  <div id="event4" class="row" (click)="eventTouched($event)"></div>
  <div id="time4"></div>
  <p id="time4Day" class="dayTop">29</p>
  <p id="time4Month" class="monthBottom">APR</p>
  <div id="title4">
    <div class="title"><p>Begin Lesson</p></div>
  </div>
  <div id="description4" class="description">
    <div class="clock-icon">
      <img src="../../assets/icons/clock-white.svg">
    </div>
    <div class="clockTime">
      <p>07:45 am - 09:00 am</p>
    </div>
  </div>

  <div id="event5" class="row" (click)="eventTouched($event)"></div>
  <div id="time5"></div>
  <p id="time5Day" class="dayTop">2</p>
  <p id="time5Month" class="monthBottom">MAY</p>
  <div id="title5">
    <div class="title"><p>Lab Assignment</p></div>
  </div>
  <div id="description5" class="description">
    <div class="clock-icon">
      <img src="../../assets/icons/clock-white.svg">
    </div>
    <div class="clockTime">
      <p>06:30 pm - 07:45 pm</p>
    </div>
  </div>
</div>